@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recursos Humanos</h1>
    <p class="lead">Altas, bajas y cambios de Empleados, Cursos e Instructores para el área de entrenamiento</p>
</div>